@model Drinks.ViewModels.AddDrinkToMenuViewModel

@{
    ViewData["Title"] = "AddDrinkToMenu";
}

<h1>Add Drink to Menu:@Model.Menu.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDrinkToMenu">
            <div class="form-group">
                <label class="control-label">Choose drink</label>
                <select asp-for="DrinkId" class="form-control" asp-items="@Model.Drinks"></select>
                <span asp-validation-for="DrinkId"></span>
            </div>
            <input type="hidden" asp-for="MenuId" value="@Model.Menu.ID"/>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

